<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-light border-bottom">
  <div class="container">
    <a class="navbar-brand fw-semibold" th:href="@{/articles}">MiniBlog</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav"
            aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topnav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" th:href="@{/articles}">Články</a></li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>
